<h1>Olá</h1>
<%= mostrar_meu_nome %>
<h2><%= t "hello.friend" %></h2>
<h2><%= l Date.today %></h2>
<ul>
    <li><%= link_to "Tipos", kinds_path %></li>
    <li><%= link_to "Contatos", contacts_path %></li>
    <li><%= link_to "Phones", phones_path %></li>
    <li><%= link_to "Adresses", addresses_path %></li>
</ul>
